html,body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', "Helvetica";
    -ms-overflow-style:none;
    background-color: #ecf8fc;
}
::-webkit-scrollbar {
    display: none;
}
  
  ::-webkit-scrollbar-button {
    display: none;
}
#flow{
    width: 700px;
    height:2000px;
    margin: auto;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
}
.message{
    width: 70%;
    margin: 5px 0;
}
.message > span{
    padding: 5px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 11px;
}
.message.bot {
    align-self: flex-start;
}
.message.local {
    align-self: flex-end;
    text-align: right;
}
.message .mleft {
    background-color: gainsboro;
    border-bottom-left-radius: 0;
}
.message .mright {
    background-color: #00abe1;
    border-bottom-right-radius: 0;
}
.message .mt50 {
    margin-top: 50px;
}
.message .botReview {
    background-color: #14323f;
    color: white;
}
span.answer {
    display: block;
    padding: 8px 15px;
    margin: 5px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease;
}
span.answer.yes {
    background-color: #10b80bbf;
}
span.answer.yes:hover {
    background-color: #10b80bed;
    font-size: 1.1em;
    border: 1px solid #10b80bbf;
}
span.answer.meh {
    background-color: #777777;
}
span.answer.meh:hover {
    background-color: #525252;
    font-size: 1.1em;
    border: 1px solid #777777;
}
span.answer.no {
    background-color: #c70e0ebf;
}
span.answer.no:hover {
    background-color: #c70e0eed;
    font-size: 1.1em;
    border: 1px solid #c70e0ebf;
}
.lightblueLine{
    width: 10px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 40px;
    background-color: #00ABE1;
}
.darkblueLine{
    width: 10px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 60px;
    background-color: #006CB2;
}
.capgeminiLogo img {
    width: 180px;
    height: auto;
    position: fixed;
    top: 30px;
    left: 120px;
}
.letItFixLogo {
    width: 700px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -350px;
}
.letItFixLogo .logo1{
    height: 70px;
    background-color: #006cb2;
    text-align: center;
}
.letItFixLogo .logo1 span {
    color: white;
    display: inline-block;
    margin-top: 23px;
    font-size: 2.7em;
    font-weight: 700;
}
.letItFixLogo .logo2{
    height: 0px;
    width: 0;
    border-left: 350px solid transparent;
	border-right: 350px solid transparent;
	border-top: 30px solid #006cb2;
}



.node {
    cursor: pointer;
  }
  
  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }
  .label {
    font: 16px Helvetica, Arial, sans-serif;
    text-anchor: middle;
  }
  
  .label,
  .node--root {
    pointer-events: none;
  }